.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0px;
	z-index: 4;
	background: hsla(0, 0%, 100%, .9);
	animation: loader 0.01s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
	&__spinner {
		width: 5rem;
		height: 5rem;
		display: inline-block;
		border: 5px solid transparent;
		border-radius: 50%;
		border-top-color: $colour-primary;
		animation: 1s spin infinite ease-in-out;
		z-index: 4;
		transition-timing-function: cubic-bezier(0, .97, 1, .08)
	}
}

@keyframes loader {
	100% {
		opacity: 0;
		z-index: -4;
	}
}

@keyframes spin {
	0% {
		opacity: 1;
		transform: rotate(0deg);
		border-top-color: $colour-primary;
	}
	50% {
		opacity: 0.5;
		border-top-color: $colour-tertiare;
	}
	100% {
		opacity: 0.8;
		transform: rotate(360deg);
		border-top-color: $colour-secondary;
	}
}

.item1 {
	animation: appear 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 0s;
	transition: transform 330ms ease-out;
	transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}

.item2 {
	animation: appear 0.7s;
	animation-fill-mode: forwards;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	transition: transform 330ms ease-out;
	transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}

.item3 {
	animation: appear 0.9s;
	animation-fill-mode: forwards;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	transition: transform 330ms ease-out;
	transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}

@keyframes appear {
	from {
		transform: translateY(0%);
		opacity: 0;
	}
	to {
		transform: translateY(-15%);
		opacity: 1;
	}
}