@mixin card-shadow{
    box-shadow: .15rem .15rem 10px rgb(190, 190, 190);
  }
  @mixin card {
    @include card-shadow;
    border-radius: 15px;
    margin:0rem 0 1.5rem 0;
    background-color: $colour-section;
  }
 
  @mixin Imagerestaurant {
    width: 100%;
    height: 24rem;
    object-fit: cover;    
     
  }
  @mixin restaurant {
    @include card-shadow;
    border-radius: 15px; 
    background-color: white;
    margin: 1.5rem 0 0;
  }
  @mixin imagecard{
    width: 100%;
    height: 12rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }

  @mixin img-ratio {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: $layout-margin;
    overflow: hidden;
    position: relative;
     & img {    
      width: 100%;
        }
}

    @mixin btn {
      border: 0;
      padding: .75rem 1.5rem;
      @include card-shadow;
      border-radius: 50px;
      color: white;
      cursor: pointer;
      background-image: linear-gradient(rgba(255,121,218,.9),rgba(147,86,220,.9));
    }