@mixin card-shadow{
    box-shadow: .15rem .15rem 10px rgb(190, 190, 190);
  }
@mixin card {
    @include card-shadow;
    border-radius: 15px;
    margin:0rem 0 1.5rem 0;
    background-color: $colour-section;
  }
 
  @mixin Imagerestaurant {
    max-width: 100%;
    max-height: 24rem;
    width: 100%;
    object-fit: cover;    
     
  }
  @mixin restaurant {
    @include card-shadow;
    border-radius: 15px; 
    background-color: white;
    margin: 1.5rem 0 0;
  }
  @mixin imagecard{
    width: 100%;
    height: 12rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
  }

  @mixin img-ratio {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: $layout-margin;
    overflow: hidden;
    position: relative;
     & img {    
      width: 100%;
        }
}

  @mixin btn {
      border: 0;
      padding: .75rem 1.5rem;
      @include card-shadow;
      border-radius: 50px;
      color: white;
      cursor: pointer;
      background-image: linear-gradient(rgba(255,121,218,.9),rgba(147,86,220,.9));
    }
   
 @mixin Heart {
 display: flex;
 color: rgb(124, 124, 124);
 align-items: center;
 margin-top: 1.5rem;
 margin-right: 1rem;
 justify-content: flex-end;
 grid-column: 2;
 grid-row: 1/2;
 font-size: 25px;
 }
@mixin Hearthidden {
  display: flex;
  cursor: pointer;
  color: transparent;
  opacity: 0;
  align-items: center;
  margin-top: 1.5rem;
  margin-right: 1rem;
  justify-content: flex-end;
  grid-column: 2;
  grid-row: 1/2;
  font-size: 25px;
  transition:opacity 0.3s ease-out;
  
}
 
@mixin Hearthover {
  background: -webkit-linear-gradient(#9356DC,#FF79DA);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  opacity: 1;  
}