
.header-accueil {
    display: flex;
    justify-content: center;
    padding: 1rem;
    @include card-shadow;
    position: relative;
}

.localisation {
    display: flex;
    justify-content: center; 
    background-color: rgb(228, 228, 228);
    &__icon{
        margin-right: 1rem;
    }
}

.Presentation {
    padding: 2rem;
    text-align: center;
    background-color: $colour-section;
    &__title{
        font-size: 25px;
        font-weight: bold;
    }
    
}

.DIY {
    padding: 2rem 1rem;

        &__lists {
        counter-reset: compteListe;
        list-style: none;
        position: relative;
        padding: 1rem;
       
        @media (min-width:64rem){
            display: flex;
            }
        }
        &__list{
            @include card;
            padding: 1.5rem;
            @media (min-width:64rem) {
                flex: 1;
                position: relative;
                margin: 0;
                margin-left: 2rem;
                }
        }
        &__icon{
            /**margin: 0 1.5rem;**/
            margin-right: 1.5rem ;
            color: rgb(112, 112, 112);
                &:hover{
                    color: $colour-primary;
                }
        }
    }

 .DIY__list::before {
           
    counter-increment: compteListe 1;
    content: counter(compteListe) "";
    background-color: $colour-primary;
    z-index: 3;
    color:white;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: absolute;
    left: 0rem;
    @media (min-width:64rem) {
        left: -0.80rem;
     }
 }

.DIY__list:hover{
    background-color: $light-main-color;
    }

.wrap{
     @media (min-width:64rem){
         margin: auto;
         max-width: 1400px;

        }
    }

.containrestaurant{
    @media (min-width:64rem) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
}
.Restaurants {
    background-color: $colour-section;
    padding: 1rem 1rem;
    &__card {
        @include restaurant;
        position: relative;
        @media (min-width:64rem){
            margin: $layout-margin;
            width: 90%;
        }

    }
        &__text{
            padding: 0 1rem 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
        
        }
        &__Name{
            margin-bottom: 0.5rem;
        }
        &__City{
            grid-column-start: 1;
        }
        &__new{
            position: absolute;
            border-radius:0.3rem ;
            background-color: $colour-tertiare;
            color: rgb(45, 145, 88);
            padding: .5rem;
            right: 1.5rem;
            top: 1rem;     
           
        }
        &__Heart{
          @include Heart;
        }
        &__Heart--hidden{
           @include Hearthidden;
            &:hover{
               @include Hearthover;
            }
    }
}
.Imgcard{
    @include imagecard;
}

